package {{.BasePackage}}.converter;

import {{.BasePackage}}.model.dto.req.{{.ModelUpperCamel}}QueryReqDto;
import {{.BasePackage}}.model.dto.req.{{.ModelUpperCamel}}ReqDto;
import {{.BasePackage}}.model.dto.resp.{{.ModelUpperCamel}}RespDto;
import {{.BasePackage}}.model.po.{{.ModelUpperCamel}};
import {{.BasePackage}}.model.query.{{.ModelUpperCamel}}Query;
import org.mapstruct.Builder;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;

import java.util.List;

/**
 * {{.ModelComment}}转换器
 *
 * @author {{.Author}}
 * @since {{.Since}}
 */
@SuppressWarnings("UnmappedTargetProperties")
@Mapper(builder = @Builder(disableBuilder = true))
public interface {{.ModelUpperCamel}}Converter {

    {{.ModelUpperCamel}}Converter INSTANCE = Mappers.getMapper({{.ModelUpperCamel}}Converter.class);

    /**
     * 实体转换为响应 DTO
     */
    {{.ModelUpperCamel}}RespDto toRespDto({{.ModelUpperCamel}} {{.ModelCamel}});

    /**
     * 实体列表转换为响应 DTO 列表
     */
    List<{{.ModelUpperCamel}}RespDto> toRespDto(List<{{.ModelUpperCamel}}> {{.ModelCamel}}s);

    /**
     * 请求 DTO 转换为实体
     */
    {{.ModelUpperCamel}} fromReqDto({{.ModelUpperCamel}}ReqDto {{.ModelCamel}}ReqDto);

    /**
     * 请求 DTO 列表转换为实体列表
     */
    List<{{.ModelUpperCamel}}> fromReqDto(List<{{.ModelUpperCamel}}ReqDto> {{.ModelCamel}}ReqDtos);

    /**
     * 查询请求 DTO 转换为查询对象
     */
    {{.ModelUpperCamel}}Query fromQueryReqDtoToQuery({{.ModelUpperCamel}}QueryReqDto {{.ModelCamel}}QueryReqDto);
}
