package {{.BasePackage}}.model.po;

{{if .IsWithAutoFill}}import com.baomidou.mybatisplus.annotation.*;{{else}}import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;{{end}}
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
{{if .UseJakarta}}import java.io.Serial;
{{end}}import java.io.Serializable;

/**
 * {{.ModelComment}}
 *
 * @author {{.Author}}
 * @since {{.Since}}
 */
@Schema(description = "{{.ModelComment}}")
@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
@TableName(value = "{{.TableName}}")
public class {{.ModelUpperCamel}} implements Serializable {
{{range .Fields}}
    /**
     * {{.Comment}}
     */
    @Schema(description = "{{.Comment}}")
{{- if .IsPrimaryKey}}
    @TableId(value = "{{.TableField}}", type = IdType.AUTO)
{{- else}}
    @TableField(value = "{{.TableField}}"{{if eq .AutoFill "insert"}}, fill = FieldFill.INSERT{{end}}{{if eq .AutoFill "update"}}, fill = FieldFill.UPDATE{{end}}{{if eq .AutoFill "insertUpdate"}}, fill = FieldFill.INSERT_UPDATE{{end}})
{{- end}}
    private {{.JavaType}} {{.Name}};
{{end}}
    {{if $.UseJakarta}}@Serial
    {{end}}private static final long serialVersionUID = 1L;
}
